$unfinished: #66FF66;

body {
  // background-color: $unfinished;
  margin: 1em;
  //font-family: sans-serif;
}

header {
  h1 {
    background-color: $unfinished;
    font-family: sans-serif;
  }
  nav{
    ul {
      // background-color: #0000ff;
    }
  }
}

article {
  header {
       h1 {
         // background-color: #aadd99;
       }
       details {
          border: 1px solid #000
         summary {
           background-color: #0000ff;
         }
       }
  } 
}

footer {
  p {
    background-color: #0000ff;
  }
}