$unfinished: #66FF66;

body {
  background-color: $unfinished;
  font-family: sans-serif;
}

p {
  background-color: #1003f4;
}

a {
  background-color: #0200ff;
}

header {
  h1 {
    background-color: #0000ff;
  }
  nav{
    ul {
      background-color: #0000ff;
    }
  }
}

article {
  header {
       h1 {
         background-color: #aadd99;
       }
       p {
        background-color: #0000ff;
       }
       details {
         summary {
           background-color: #0000ff;
         }
       }
  } 
}

footer {
  p {
    background-color: #0000ff;
  }
}