$unfinished: #66FF66;
$baseheadersize: 3em;
$basefontsize: 1em;

body {
  // background-color: $unfinished;
  margin: 1em;
  font-family: sans-serif;
}

header {
  h1 {
    text-align: center;
    font-family: serif;
    font-size: $baseheadersize;
    margin:0;
  }
  nav{
    text-align: center;
    li {
      // background-color: #0000ff;
      display: inline

    }
  }
}

article {
  header {
       h1 {
        background-color: #aadd99;
        font-size: $baseheadersize - 1;
        margin-bottom: 0;
       }
       h2 {
        font-size: $baseheadersize - 2;
        margin-top: 0;
        margin-bottom: 0;
       }
  }

}

.tagitem {
  background-color: $unfinished
}

footer {
  p {
    background-color: #0000ff;
  }
}